%h1 Listing document_search_types

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @document_search_types.each do |document_search_type|
      %tr
        %td= document_search_type.name
        %td= link_to 'Show', admin_document_search_type_path(document_search_type)
        %td= link_to 'Edit', edit_admin_document_search_type_path(document_search_type)

%br

= link_to 'New Document search type', new_admin_document_search_type_path
